.card {
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 250px;
    font-size: 11px;
    background-color: white;
    margin: 100px 650px 400px;
    display: inline-block        
}
.primeiro {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}
.tx1{
    color:hsl(218, 44%, 22%);
    font-size: 13px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}   

.p1{
    color:hsl(220, 15%, 55%) ;
    font-size: 9px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}



